html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* My Reset */
button,
input,
textarea {
  box-shadow: none;
  outline: 0;
  border: 0;
}
img {
  font-size: 0;
  vertical-align: top;
}

/*
	Custom CSS
*/

* {
	box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
body {
  line-height: 1.5;
}
a {
  text-decoration: none;
  display: inline-block;
}

main {
	background: rgba(238,238,238 ,1);
}

h2 {
	font-size: 24px;
	font-weight: bold;
}

section {
	background-color: white;
}

section ul {
	padding-left: 30px;
	list-style-image: url(../images/right.png);
}

section ul li {
	padding: 10px 0;
}

/* Responsive Image */
.img-responsive {
  width: 100%;
  height: auto;
}

.padding {
	padding: 5rem 0;
}

.wrapper {
	max-width: 1300px;
	width: 100%;
	margin: 0 auto;
	padding: 30px;
}
/*
	Header
*/

.header {
	position: absolute;
	width: 100%;
	top: 0;
	padding: 0 0.6rem;
}

.flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.logo {
	margin-left: 30px;
	font-size: 32px;
	font-weight: bold;
}

.logo a {
	color: white;
}

.links {
	margin-right: 30px;
}

.links a {
	font-weight: bold;
	color: rgba(124,179,66 ,1);
	padding: 0 10px;
}

/*
	Main
*/

/*Hero*/

.hero {
	padding:15rem 0 5rem 0;
}

.col {
	width: 50%;
}

.hero-heading {
	font-size: 3rem;
	color: #ffffff;
	line-height: 1.5;
	font-weight: bold;
}

.col-1 {
	padding-right: 3rem;
}

.col-2 {
	padding-left: 2.5rem;
	border-left: 2px solid rgba(255,255,255,0.2);
}

.uppercase {
	text-transform: uppercase;
}

.hero-description {
	font-size: 1.5rem;
	font-weight: bold;
	color: rgba(255,255,255, 0.5);
}

/*Magna Section*/

.magna-heading {
	font-size: 2.3rem;
	color: #555;
	margin-bottom: 2rem;
}

.magna-description {
	font-size: 1.2rem;
	line-height: 2;
	font-weight: 400;
	color: #777;
}

.magna-list {
	padding-left: 2rem;
}

.magna-item {
	line-height: 3;
	font-size: 1.2rem;
	color: #777;
	list-style-image: url("../images/right.png");
	padding-left: 0.5rem;
}

/*Photo sections*/

.article {
	background: #f5f5f5;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
}

.article-container {
	background: #fff;
	border-bottom: 2px solid rgba(0,0,0,0.2);
	margin-bottom: 3.3;
}

.article-img {
	width: 40%;
}

.article-description {
	width: 60%;
	padding: 0 3rem;
}

.article-heading {
	font-size: 1.8rem;
	color: #555;
	margin-bottom: 2rem;
}

.article-text {
	font-size: 1.1rem;
	color: #888;
	line-height: 2.3;
}

.text-center {
	text-align: center;
}

/*
	Contact
*/
.contact-heading {
	font-size: 2rem;
	font-weight: 700;
	color: #555;
	margin-bottom: 2rem;
}

.contact .flex {
	align-items: flex-start;
}

.contact .col-2 {
	border-left: 0;
}

.contact .col-1 {
	border-right: 1px solid rgba(0, 0, 0, 0.6);
}

.contact-text {
	color: #555;
	line-height: 2.3;
	font-size: 1.2rem;
	margin-bottom: 2rem;
}

.form-control {
	display: block;
	width: 100%;
	padding: 0.8rem 1rem;
	margin-bottom: 2rem;
	font-size: 1.2rem;
	border: 1px solid rgba(0,0,0,0.2);
}

.form-control::placeholder {
	color: #c3c3c3;
}

.input-field {
	width: 48%;
}

.contact-list-item {
	display: flex;
	align-items: center;
	margin-bottom: 2rem;
}

.contact-list-item i {
	font-size: 1.2rem;
	color: rgb(32, 195, 114);
	width: 2rem;
}

.contact-list-item a,
.contact-list-item address {
  color: #555;
  /* font-weight: 300; */
  margin-left: 0.5rem;
}
.address {
  align-items: flex-start;
}

.footer {
  background: #f5f5f5;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: #888;
}

/*
	Modular
*/

.btn {
	padding: 0.8rem 2rem;
	background: transparent;
	border-radius: 3rem;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1rem;
	margin-top: 2rem;
	letter-spacing: 0.05rem;
	color: #555;
	cursor: pointer;
}

.btn-secondary {
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.btn-active {
	background-color: rgba(124,179,66 ,1);
	color: white;
	border-color: rgba(124,179,66 ,1);
}

.gradiant {
	background: #42275a;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #734b6d, #42275a);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #734b6d, #42275a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}